<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Maiores ullam aliquam voluptatem! Consequatur consectetur aliquid odio, 
            facere error iste similique blanditiis accusantium odit, veniam explicabo sed voluptatum. 
            Eum, voluptates et.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <!--Alguna imagen tal vez. offset te marca que en el caso de estar en
            por ejemplo md dejar una columna entre medio de los elementos. En este caso
            quedaría 7 de la parte1 + 1 de separacion + 3 de la otra div-->
             <!--La iamgen quedaria <img src="xxx" class="img-fluid img-proyecto(esta ultima
            solo declara una clase por si necesitas para el CSS"-->
        </div>

    </div>


</div>


