.row{
    padding: 15px; 
    background-image: url("../../../assets/heic1808a.jpg"); 
}

h1{
    color:aquamarine;
}

p{
    color:aqua;
}

@media (min-width: 576px){
    #profilepic{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 1px 3px 2px pink;
    }
}


#nombre{
    font-weight: bold;
    margin-top: 20%;
    margin-left: 5%;
   }