<div class="row">
    <h1 class="d-flex justify-content-center">Experiencia laboral</h1>
    <div class="d-flex justify-content-center col-sm-12 col-md-11 col-lg-11">
        <ul> 
            <li> <!--Acá lo interesante sería hacer un par de iteraciones
            conectadas a un data.json, capaz, aunque también puede ser fijo, pero 
        preferible darle una perspectiva que tenga en cuenta una proxima base
    de datos. un *ngFor etc etc con js y protocolos http.
    Lo mismo aplica para un posible component educación.-->
               <h1>Exp</h1> 
               <p><time>xxxx</time> - <time>xxxx</time></p>
            </li>
            <p>Descripcion del trabajo</p>
        </ul>

    </div>

</div>