.row{
    padding: 15px; 
    background-color: black;
}

h1{
    color:aquamarine;
}

p{
    color:aqua;
}

@media (min-width: 576px){
    #profilepic{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 1px 3px 2px pink;
    }
}



@media (max-width: 575px){
    #profilepic{
        position: relative;
        width: 15%;
        border-radius: 100%;
        box-shadow: 1px 3px 2px grey;
        top: 65px;
        left: 37px
    }
}


#nombre{
    font-weight: bold;
    margin-top: 20%;
    margin-left: 5%;
   }