<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img id="profilepic" class="img-fluid" src="../../../assets/Profilepic.jpg"/>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} Benitez</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Dolore tempora accusantium aliquid nisi assumenda aspernatur voluptatibus. 
                Odio dolor repudiandae exercitationem minima, error, possimus tenetur ipsum, 
                aut iure eaque omnis id?</p>
        </span>
    </div>
</div>