<div class="row">
    <h1 class="text-center">Hard & Soft Skills</h1>
    
        <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>   
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>   
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>   
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>       
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>
    
</div>
